.infoContainer{
    position: relative;
    z-index: 1;
}

#connectedUsers{
    text-align: right;
}

.canvasActual {
    top:0;
    left:0;
    /* background-color: skyblue; */
    
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px black;
    z-index: 1000;
    
}

#content{
    position: relative;
    z-index: 1100;
}

.chatContainer{
    /* text-align: right; */
    /* float: right; */
    position: fixed;
    width: 200px;
    z-index: 1000;
    right: 0;
    top: 0;
    margin: 20px;
    padding-top: 20px;
    text-align: left;
    /* display: inline-block; */
    z-index: 1100;
}

.chatForm{
    height: 100px;
    margin: 0px;
    padding: 0px;
}
/* 
.others{
    text-align: right;
}

.chatInput{
    text-align: left;
    float: left;
}
  */
.right{
    text-align: right;

}

.userList{
    text-align: right;
    position: relative;
}

#submitButton{
    font-family: 'Press Start 2P', cursive;
}

/* #chatInput{
    text-align: left;
} */
.chats{
    text-align: left;
    font-family: 'Roboto';
}
.typingUser{
    position: fixed;
    text-align: left;
}

