.chat{
    /* text-align: right; */

        position: absolute;
        right: 0px;
        width: 50px;
        

}

.others{
    text-align: right;
     
}

.chatInput{
    text-align: left;
    float: left;
}

.right{
    text-align: right;

}